___

# Atividade final de Manipulação de Dados com Python
___

Atividade proposta:
1. Acesse e importe o arquivo titanic.csv ( [link do arquivo](https://www.kaggle.com/competitions/titanic/data) ) 
2. Faça uma descrição dos dados (tipo das variáveis, estatísticas básicas). `Obs: veja se há valores faltantes`
3. Faça um resumo do que foi a tragédia do titanic como se fosse apresentar o problema a alguém. Utilize imagens caso julgue necessário e tente explorar ao máximo o recurso de se trabalhar em um notebook (html e markdown).
4. Tente formular hipóteses e respondê-las através de gráficos e análises, ex:
  - O tipo de sexo do passageiro influenciou na sobrevivência?
  - A idade influenciou na sobrevivência?
  - O local de embarque tem relação com o preço da passagem?

Dica: O gráfico do tipo boxplot costuma ajudar muito em comparações de densidade; o gráfico de barras é uma opção ao compararmos número de algo em relação à divisão (sexo por exemplo).

Dica2: Tente procurar sobre a função sns.heatmap(), entenda seu uso e como isso poderia ser interessante em sua análise.

Dica 3: Tente renomear o nome das colunas para que fique mais legível, ex:
```python
dados['Embarked'] = dados['Embarked'].map({'C': 'Cherbourg', 
                                           'Q': 'Queenstown',
                                           'S': 'Southampton'})
```

## Dica

Ao realizar uma exploração de dados, é sempre importante criar um dicionário de dados. Desse modo, você economiza tempo tentando lembrar o que cada coisa significa, além deconseguir demonstrar mais facilmente para outras pessoas.

**Dicionário de dados**: <br>

> PassengerId: Número de identificação do passageiro <br>
Survived: Informa se o passageiro sobreviveu (0,1) <br>
Pclass: Classe do bilhete  <br>
Name: Nome do passageiro <br>
Sex: Sexo do passageiro <br>
Age: Idade do passageiro <br>
SibSp: Quantidade de cônjuges e irmãos a bordo <br>
Parch: Quantidade de pais e filhos a bordo <br>
Ticket: Número da passagem <br>
Fare: Preço da Passagem <br>
Cabin: Número da cabine em que se hospedou <br>
Embarked: Porto no qual o passageiro subiu a bordo. Separados em: C (Cherbourg), Q (Queenstown), S(Southampton) <br>

# Resolva

In [6]:
import pandas as pd


data = pd.read_csv('/content/train.csv')

print(data)

     PassengerId  Survived  Pclass  \
0              1         0       3
1              2         1       1
2              3         1       3
3              4         1       1
4              5         0       3
..           ...       ...     ...
886          887         0       2
887          888         1       1
888          889         0       3
889          890         1       1
890          891         0       3

                                                  Name     Sex   Age  SibSp  \
0                              Braund, Mr. Owen Harris    male  22.0      1
1    Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                               Heikkinen, Miss. Laina  female  26.0      0
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                             Allen, Mr. William Henry    male  35.0      0
..                                                 ...     ...   ...    ...
886                              Montvila, Rev. Juozas    male  27.0      0
887                       Graham, Miss. Margaret Edith  female  19.0      0
888           Johnston, Miss. Catherine Helen "Carrie"  female   NaN      1
889                              Behr, Mr. Karl Howell    male  26.0      0
890                                Dooley, Mr. Patrick    male  32.0      0

     Parch            Ticket     Fare Cabin Embarked
0        0         A/5 21171   7.2500   NaN        S
1        0          PC 17599  71.2833   C85        C
2        0  STON/O2. 3101282   7.9250   NaN        S
3        0            113803  53.1000  C123        S
4        0            373450   8.0500   NaN        S
..     ...               ...      ...   ...      ...
886      0            211536  13.0000   NaN        S
887      0            112053  30.0000   B42        S
888      2        W./C. 6607  23.4500   NaN        S
889      0            111369  30.0000  C148        C
890      0            370376   7.7500   NaN        Q

[891 rows x 12 columns]

In [8]:
data.isna().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [9]:
data.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [10]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive